<!-- box  -->
<div class="box box-primary" data-ng-controller="boxtestBoxCtrl as vm">
    <div class="box-header with-border">
      <h3 class="box-title">Box test</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div>
        <table class="table table-bordered">
        <tr>
            <td><button ng-click="vm.speakerDown()" class="btn col-lg-12 btn-primary">Volume -</button></td>
            <td><button ng-click="vm.speakerUp()" class="btn col-lg-12 btn-primary">Volume +</button></td>
        </tr>
        <tr>
            <td><button ng-click="vm.micDown()" class="btn col-lg-12 btn-primary">Mic -</button></td>
            <td><button ng-click="vm.micUp()" class="btn col-lg-12 btn-primary">Mic +</button></td>
            <td><button ng-click="vm.micMute()" class="btn col-lg-12 btn-primary">Mute</button></td>
        </tr>
        </table>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      Gladys Box Test
    </div>
    <!-- box-footer -->
  </div>
  <!-- /.box -->
